@using HeartBeat.Models
@model IEnumerable<HeartBeatInfo>
@{ViewBag.Title = "HeartBeats";}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/site.css" rel="stylesheet" />
    <meta http-equiv="refresh" content="10">
</head>
<body>
    <h1>@ViewBag.Title</h1>

    @if(Model.Count() == 0)
    {
        <div>No HeartBeats</div>
    }
    else
    {
        DateTime now = DateTime.Now;
       <table>
            <tr><th>Group</th><th>Device</th><th>Service</th><th>Status</th><th>hh:mm:ss</th></tr>
            @foreach (var beat in Model)
            {
                TimeSpan diff = now - beat.time;
                <tr>
                    <td>@beat.group</td>
                    <td>@beat.device</td>
                    <td>@beat.service</td>
                    <td>@beat.status</td>
                    <td>@diff.ToString(@"hh\:mm\:ss")</td>
                </tr>
            }
        </table>
    }
</body>
</html>